[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "==1.0"
numpy = "*"
flask = "*"
waitress = "*"
pandas = "==1.1.5"
seaborn = "==0.11.2"
requests = "*"

[dev-packages]

[requires]
python_version = "3.8"
